<p-toast />
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div class="surface-card p-5 shadow-2 border-round flex-auto">
        <div class="text-900 font-semibold text-lg mt-3">Add new product</div>
        <p-divider />
        <div class="flex gap-5 flex-column-reverse md:flex-row">
            <div class="flex-auto p-fluid">
                <div class="mb-4">
                    <label for="email" class="block font-medium text-900 mb-2">Name</label>
                    <input [(ngModel)]="productRequest.name" id="email" type="text" pinputtext="" class="p-inputtext p-component p-element">
                </div>
                <div class="mb-4">
                    <label for="description" class="block font-medium text-900 mb-2">Description</label>
                    <textarea 
                        id="description"
                        [(ngModel)]="productRequest.description"
                        type="text" pinputtextarea="" rows="5"
                        class="p-inputtextarea p-inputtext p-component p-element p-inputtextarea-resizable"
                        style="height: 132px; overflow: hidden;">
                    </textarea>
                </div>
                <div class="mb-4">
                    <label for="brand" class="block font-medium text-900 mb-2">Brand</label>
                    <input [(ngModel)]="productRequest.brand" id="brand" type="text" pinputtext="" class="p-inputtext p-component p-element">
                </div>
                <div class="mb-4">
                    <label for="identifier" class="block font-medium text-900 mb-2">Identifier</label>
                    <input [(ngModel)]="productRequest.identifier" id="identifier" type="text" pinputtext="" class="p-inputtext p-component p-element">
                </div>
                <div class="flex align-items-center pb-3">
                    <p-toggleswitch [(ngModel)]="productRequest.available" inputid="privacy2" class="p-element">
                        <div class="p-inputswitch p-component">
                            <div class="p-hidden-accessible">
                                <input type="checkbox" role="switch" id="privacy2" aria-checked="false">
                            </div>
                            <span class="p-inputswitch-slider"></span>
                        </div>
                    </p-toggleswitch>
                    <span class="ml-2 text-900">Share me!</span>
                </div>

                <div>
                    <button (click)="save()" pbutton="" pripple="" label="Save" class="p-element p-ripple w-auto p-button p-component">
                        <span class="p-button-label">Save</span>
                        <span class="p-ink"></span>
                    </button>
                </div>
            </div>

            <div class="flex flex-column align-items-center flex-or">
                <span class="font-medium text-900 mb-2">Cover Picture</span>
                <img [src]=" selectedPicture || 'https://primefaces.org/cdn/primeng/images/card-ng.jpg'" class="h-10rem w-20rem mb-4">
                <input
                    (change)="onUpload($event)"
                    class="form-control"
                    type="file"
                    id="formFile"
                    accept="image/*"
                    >
                <!-- <p-fileUpload 
                mode="basic" 
                name="demo[]" 
                chooseIcon="pi pi-upload" 
                url="https://www.primefaces.org/cdn/api/upload.php" 
                accept="image/*" maxFileSize="1000000" 
                (onUpload)="onUpload($event)" 
                [auto]="true"
                chooseLabel="Browse"/> -->
            </div>
        </div>
    </div>
</div>