<p-card [style]="{ width: '360px' }">
  <ng-template pTemplate="header">
    <img alt="Card" class="w-full" [src]="coverImage" />
  </ng-template>
  <ng-template pTemplate="title">
    <div class="flex flex-row items-center justify-between">
      <p>{{ product.name }}</p>
      <p-tag class="z-50" [value]="tagTitle" [severity]="getSeverity()" />
    </div>
  </ng-template>
  <ng-template pTemplate="subtitle">{{ product.brand }}</ng-template>
  <p-scrollpanel [style]="{ width: '100%', height: '50px' }">
    <p>{{ product.description }}</p>
  </p-scrollpanel>
  <ng-template pTemplate="footer">
    <div class="flex flex-row items-center justify-between justify-end">
      <div class="button-container">
        @if (manage) {
        <p-button
          *ngIf="product.available === true"
          (onClick)="onShare()"
          icon="pi pi-eye-slash"
          [rounded]="true"
          [text]="true"
          severity="warn"
        />
        <p-button
          *ngIf="product.available !== true"
          (onClick)="onShare()"
          icon="pi pi-share-alt"
          [rounded]="true"
          [text]="true"
          severity="success"
        />
        <p-button
          (onClick)="onEdit()"
          icon="pi pi-pencil"
          [rounded]="true"
          [text]="true"
          severity="info"
        />

        } @else {

        <!-- <p-button icon="pi pi-info-circle" [rounded]="true" [text]="true" severity="info" /> -->
        <p-button
          (onClick)="onBorrow()"
          icon="pi pi-cart-plus"
          [rounded]="true"
          [text]="true"
          severity="warn"
        />
        <!-- <p-button icon="pi pi-heart-fill " [rounded]="true" [text]="true" severity="danger" /> -->
        }
      </div>
      @if (product.rate) {
      <p-rating [(ngModel)]="product.rate" [readonly]="true" />
      }
    </div>
  </ng-template>
</p-card>
