.details {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

:host ::ng-deep .p-card .p-card-content {
    padding: 0;
}

:host ::ng-deep .p-card .p-card-footer {
    padding: 0;
}

:host ::ng-deep .p-card .p-card-body {
    padding: 4px 16px;
}

img {
    max-width: 360px;
    max-height: 190px;
    object-fit: contain;
    object-position: 50% 50%;
}

p-tag {
    position: relative;
    left: 290px;
    top: 290px;
    z-index: 2px;
}