<p-toast />
<div class="flex flex-col h-full">
  @if (!isLoaded) {
  <div class="flex flex-wrap gap-3 px-[6vw] py-5 flex-row w-full justify-start">
    @for (product of allProduct.content; track product) {
    <app-product-card
      [product]="product"
      [manage]="false"
      (borrow)="borrowProduct($event)"
    ></app-product-card>
    }
  </div>
  } @else {
  <p-progress-spinner
    class="flex items-center justify-center h-96"
    [style]="{ width: '100px', height: '100px' }"
  />
  }
  <div class="p-4 shadow-md mt-auto flex justify-center">
    <p-paginator
      (onPageChange)="onPageChange($event)"
      [first]="first"
      [rows]="size"
      [totalRecords]="numberOfProducts"
      [rowsPerPageOptions]="[10, 20, 30]"
      [showFirstLastIcon]="false"
    />
  </div>
</div>
