<div class="lg:px-8 md:px-6 px-4 py-4 surface-ground ng-star-inserted">
    <p-button (onClick)="navigateToAddNewProduct()" label="Add new product" icon="pi pi-plus" />
    <div class="flex flex-row flex-wrap gap-3 mt-4">
        @for (product of allProduct.content; track product.id) {
            <app-product-card 
                [product]="product"
                [manage]="true"
                (archive)="archiveProduct($event)"
                (share)="shareProduct($event)"
                (edit)="editProduct($event)"
            ></app-product-card>
        }
    </div>
    <div class="card flex justify-content-center pt-8">
        <p-paginator 
            (onPageChange)="onPageChange($event)" 
            [first]="page" 
            [rows]="size" 
            [totalRecords]="120" 
            [rowsPerPageOptions]="[10, 20, 30]" />
    </div>
</div>


